@charset "utf-8";

:root{
    --corfundo1: white;
    --corfundo2: black;
    --corletra1: black;
    --corletra2: white;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #2801666b;
}

main{
    display: inline-block;
}

#foto{
    margin: auto;
}

#texto{
    width: 350px;
    display: inline-block;
    color: black;
    text-align: right;
    padding: 15px 15px 30px 15px;
}

nav{
    margin-bottom: 50px;
}

#download{
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 50px;
    padding: 15px;
}

#rede{
    width: 75px;
    display: inline-block;
}

footer{
    background-color: var(--corfundo2);
    color: var(--corletra2);
    font-size: 1.5em;
    font-family: cursive;
    min-height: 75px;
    max-height: 250px;
    padding: 30px 0px 30px 30px;
}